---
import ContentLayout from "../layouts/ContentLayout.astro";
import Breadcrumbs from "../components/breadcrumbs/Breadcrumbs.astro";
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import { routes } from "../components/header/Header.astro";
---

<Layout
  title="Comprehensive Will Writing Service - Sikorska Notary Limited"
  description="Safeguard your legacy with Sikorska Notary Limited's comprehensive Will writing service. Our meticulous process ensures your wishes are clearly articulated, legally binding, and easily executable.">
  <ContentLayout>
    <h1 class="heading">Comprehensive Will Writing Service</h1>
    <br />
    <p class="paragraph">
      When it comes to planning for the future and safeguarding your legacy, a professionally
      drafted Will is an essential document. In the United Kingdom, a notarised Will holds
      significant value, providing you and your loved ones with peace of mind, legal clarity and
      assurance that your wishes will be respected.
    </p>
    <br />
    <p class="paragraph">
      Creating a Will is a thoughtful and responsible act that allows you to determine how your
      assets are distributed and your affairs managed after you are gone. Sikorska Notary offers a
      structured and reliable Will writing process and this is as follows:
    </p>
    <br />
    <br />
    <ul>
      <h2 class="underline">Step 1: Initial Inquiry</h2>
      <br />
      <li>Contact me to express your interest in creating a Will.</li>
      <br />
      <h2 class="underline">Step 2: Completion of Questionnaire</h2>
      <br />
      <li>
        You will receive a questionnaire to fill out, where you are expected to provide honest and
        clear information about your priorities, desired outcomes and assets you wish to safeguard.
      </li>
      <br />
      <li>
        Submit the completed questionnaire to me via email
        <a class="underline" href="mailto:ps@sikorskanotary.co.uk">ps@sikorskanotary.co.uk.</a>
      </li>
      <br />
      <h2 class="underline">Step 3: Cost Confirmation</h2>
      <br />
      <li>
        Upon receiving your questionnaire, I assess your needs and confirm the cost of the Will
        writing service.
      </li>
      <br />
      <li>There are two options available:</li>
      <br />
      <ul class="list-indent">
        <li class="list-item"><strong>Basic Will (£120)</strong></li>
        <br />
        <li>For couples, two identical (mirror) wills are available for a total of £200.</li>
        <li class="list-item"><strong>Premium Will (£250)</strong></li>
        <br />
        <li>For couples, two identical (mirror) wills are available for a total of £400.</li>
        <br />
        <br />
      </ul>
      <li style="font-style: italic">A 50% deposit of the total cost is required at this stage.</li>
      <br />
      <h2 class="underline">Step 4: Comprehensive Case Assessment</h2>
      <br />
      <li>
        I will conduct a thorough assessment of your case based on the information you have
        provided.
      </li>
      <br />
      <li>
        I will then proceed to draft your Will and email you a copy for your careful review and
        approval.
      </li>
      <br />
      <h2 class="underline">Step 5: Further Clarifications</h2>
      <br />
      <li>
        If you have additional questions or require further explanations, I can arrange an in-person
        meeting to discuss your preferences and requirements in detail.
      </li>
      <br />
      <h2 class="underline">Step 6: Drafting and Review of Wills</h2>
      <br />
      <li>
        Once you confirm that you are happy with everything, I will email you a final version of
        your Will for final review and approval.
      </li>
      <br />
      <h2 class="underline">Step 7: In-Person Will Signing</h2>
      <br />
      <li>
        We will schedule an in-person meeting with you and two witnesses for the formal signing of
        your Will to ensure that they are legally binding.
      </li>
      <br />
      <li class="underline">Optional Step: Registering the Will</li>
      <br />
      <li>
        I can assist in registering your Will with The National Will Register for an additional fee
        of £30.
      </li>
      <br />
      <li>
        The National Will Register exists to ensure no Will is left unknown or untraced at the time
        it is needed.
      </li>
      <br />
      <h2 class="underline">Step 8: Post-Service Support</h2>
      <br />
      <li>
        I will remain available to address any post-service questions or concerns you may have,
        ensuring your peace of mind.
      </li>
    </ul>
    <br />
    <p class="parahraph">
      <strong>
        Contact me today to take the first step towards securing your legacy and protecting your
        loved ones' future.
      </strong>
    </p>
    <br />
    <br />
    <Breadcrumbs
      links={[
        { name: "Apostille and Legislation", href: routes.apostilleAndLegislation },
        { name: "Fees", href: routes.feesAndDisbursements },
      ]}
      current="Will Writing Service"
    />
  </ContentLayout>
</Layout>
