.hero {
  position: relative;
  color: var(--teriary);
  background-image: url("/src/images/index-bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

@media (max-width: 900px) {
  .hero {
    background-image: url("/src/images/index-bg-mobile.webp");
  }
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
  background-color: var(--primary);
  z-index: -1;
}
.hero__heading {
  font-family: var(--font-secondary);
  font-size: clamp(1.6rem, 1.1rem + 2vw, 4.5rem);
  font-weight: normal;
  margin-top: 18vh;
  text-transform: uppercase;
}
.hero__paragraph {
  max-width: 47vw;
  font-size: clamp(1rem, 0.2rem + 1vw, 1.8rem);
  line-height: 1.6;
  margin: 4vh 0;
  overflow-wrap: break-word;
}
@media (max-width: 900px) {
  .hero__paragraph {
    max-width: 90vw;
  }
}
.hero__btn {
  margin-top: 2vh;
  background: none;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  padding: 1.5rem 2rem;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 575px) {
  .hero__btn {
    font-size: 0.7rem;
    padding: 1rem 1.2rem;
  }
}
.hero__btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
} 
