.languages {
  position: relative;
  margin: 0;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 150px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #222;
  background-color: #fff;
  text-align: center;
  padding: 7px 2px;
  border: 1px solid var(--primary);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.overflow {
  overflow: hidden;
}

.modal-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: unset;
}

.mobile__menu {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--teriary);
  color: var(--primary);
  overflow: hidden;
  text-align: center;
  border: 2px solid var(--primary);
  z-index: 10;
}
.mobile__menu-links {
  margin: 4rem;
}
.mobile__menu-link {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.mobile__menu-contact {
  display: flex;
  justify-content: center;
}
.mobile__menu-contact a {
  margin: 1.5rem;
  width: 30px;
}
.mobile__menu .opening-times {
  margin: 1.5rem 0;
}

.menu-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-height {
  line-height: 1.6;
}
.line-height a:hover {
  text-decoration: underline;
}

@media (min-width: 575px) {
  .list-indent {
    margin-left: 3rem;
  }
}
