---
import Header from "../header/Header.astro";
import Hero from "../hero/Hero.astro";
import "../../css/partials/info/info.css";
import "../../css/partials/form/form.css";
import "../../css/partials/navigation/navigation.css";

const currentPath = Astro.url.pathname;
---
{
  currentPath === "/" ? (
    <section class="hero">
      <Header isTransparent />
      <Hero />
    </section>
  ) : (
    <Header />
  )
}